<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <div class="page-content">
    <div class="page-header">
      <h2>About</h2>
        <p>Digital Display Archive is a resource drawing from my ongoing research on how digital media and technology can create new environments for the curation, display, and dissemination of contemporary art. </p>
        <p>The projects featured have been chosen to exemplify a range of approaches and aesthetics. Some projects are large-scale, institution-led research projects, some explore the format of the exhibition, others are independent experiments in art and design. The aim is to present the diversity of ways of thinking about this subject.
        <p> Project description, information, and titles have been taken from their official press releases and presentations. I have written a short text analysis to accompany each, situating them within my understanding of a global landscape of activity exploring the relationship between technological and art. </p>
      <% cache do %>
      <% sleep 2 %>
      <% end %>
    </div>
  </div>
</body>
