<div class="page-header">
  <h2>Sort by Author/Institution</h2>
    <p>Hover over the authors' names, or the institution's name, to see their bios, click on the names to see the project page.</p>
</div>
<div class="artist-name-container">
<% @Projects.each do |project| %>
  <div class="row artist-name-rows">
   <div class="content">
    <nav class="hover-effect cl-effect-16">
      <%= link_to project.author, project, :id=>"artist-name", :data=>{"hover" => project.author} %>
    </nav>
      <p id="bio"><%= project.bio %></p>
  </div>
  </div>
<% end %>
</div>