<body>
  <% cache(cache_key_for_projects) do %>
  <section class="regular slider">
    <%= render @projects %>
  </section>

<% if can? :manage, :all %>
  <div class = "box_following_list">
    <button class="btn btn-default"><%= link_to 'Create New Project', new_project_path %></button>
  </div>
<% end %>

<% end %>

  <!-- insert JS-->

</body>

