<h2 class="page-header-form">New Project</h2>

<%= render 'form', project: @project %>

<div class = "box_following_list">
  <button><%= link_to 'Back', projects_path, method: :get %></button>
</div>
