// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Product List CSS
.product_list {
  margin: 0 auto;
  padding: 20px;
  font-size: 1.2em;
  width: 90%;
  height: 50%;
  table-layout: fixed;
  font-family: 'Quicksand', sans-serif;
}

table td.narrowRow, table th.narrowRow {
  width: 100px;
}

.product_image_thumbnail {
  width: 95%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.maintext {
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
}

.resizedColumn {
  width: 40%;
}

.imgColumn {
  width: 30%;
}

//General List Elements CSS

th {
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid #000000;
}

td {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  padding: 10px;
  overflow-wrap: break-word;
  text-align: left;
}


//Form Elements CSS

#datetimepicker {
  width: 100px;
}

.dropdown-menu {
  width: 200px;
}

.resizedTextBox {
  width: 70%; 
  height: 150px;
  }

.resizedField {
  width: 90%; 
  }

textarea.form-control {
  height: 150px;
}

.box_following_list {
  text-align: center;
  padding: 5% 0%;
}

.page-header-form {
  padding: 5px;
  margin: 3em 0 1em 2em;
  font-size: 1.7em;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

//Product-specific pages CSS
.create_new_product_form {
  width: 70%;
  font-size: 1.2em;
  font-family: 'Quicksand', sans-serif;
  margin-left: 10%;
  text-align: left;
}

.product_image_show {
  width: 30%;
}


//for mobile version
@media (max-width: 768px) {
  .content-container {
    margin-left: 0px;
  }
  #mobile-content-container {
    width: 100%;
    margin-left: 0;
  }
}

.login-alt-links {
    font-family: 'Dosis';
}

.notice {
  font-family: 'Dosis';
  padding: 10px;
  width: 50%;
}

.alert {
  font-family: 'Dosis';
  padding: 10px;
  width: 50%;
}

.btn-show {
  border-color: black;
  width: fit-content;
  margin: 10% 0%;
}

.questions-container {
  width: 85%;
  margin: 3%;
  font-family: 'Padauk', sans-serif;
  font-size: 1.4em;
  line-height: 1.5em;
  white-space: pre-line;
}


//show each product page (show.html.erb)

.show-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  width: 90%;
}

.show-container > div > img {
  width: 100%;
  padding-top: 5%;
}

.show-title-text {
  font-size: 2em;
  line-height: 1.5em;
  font-family: 'Quicksand', sans serif;
  margin: 3%;
  font-weight: bold;
}

.show-container-text {
  white-space: pre-wrap;
  font-size: 1.4em;
  line-height: 1.4em;
  justify-content: initial;
  width: 100%;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
}

.show-container-img {
  justify-content: space-around;
  width: 100%;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
}

.mobile-show-container-img {
  width: 100%;
  display: none;
}

#mobile_img_01 {
  width: 80%;
  margin: 3% 10%;
}

//comments section

.product-reviews {
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
}

.product-reviews h4 {
  font-family: 'Quicksand', sans serif;
  font-weight: bold;
  font-size: 1.5em;
}


.comments-box {
  margin-top: 5%;
  margin-bottom: 10%;
}

.comments-box h4 {
  font-family: 'Quicksand', sans serif;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.comments-box h5 {
  font-family: 'Padauk', sans-serif;
  font-weight: bold;
  margin-left: 15%;
  margin-top: 3%;
}

.comment-text-area {
  width: 70%;
  margin-left: 15%;
}

.comment-entry {
  margin: 3% auto;
  width: 80%;
}

.rating {
  float: left;
  margin-top: 1%;
  margin-left: 15%;
}

.rated {
  margin: 3% auto;
}

.rating-label {
  margin-top: 0%;
  float: left;
}

#comment-send {
  width: 15%;
  margin-left: 40%;
}
hr.jagged-line {
  height: 6px;
  background: url(hr-12.png) repeat-x 0 0;
  border: 0;
  width: 90%;
}

hr.dots {
  border-top: 1px dotted #8c8b8b;
  width: 50%;
  margin: 0 auto;
}

.paginate-nav {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 5%;
}

//product page slider (products.index)

.slider {
    width: calc( 100% - 100px );
    margin: 0 auto;
}

.flex-container {
  display: flex;
}

.flex-item-image{
    width: 40%;
    padding: 20px;
}

.flex-item-text {
  width: 60%;
  padding: 20px;
}

.index-desc-text {
  white-space: pre-wrap;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  max-height: 360px;
  overflow: hidden;
  font-size: 1.4em;
  line-height: 1.4em;
}

.title-text {
  font-weight:bold;
  font-size: 1.4em;
  line-height: 1.4em;
  margin: 4%;
  font-family: 'Quicksand', sans-serif;
}

//search results

.search-results-card {
  margin: 1% auto;
  flex-basis: 40%;
}

.search-title-text {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.2em;
  margin: 5%;
  font-family: 'Quicksand', sans-serif;
}

.search-desc-text {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  font-size: 1em;
  line-height: 1.4em;
}

.search-image-thumbnail {
  max-width: 100%;
  max-height: 200px;
  margin: 0 auto;
  display: block;
}

//for mobile version
@media (max-width: 768px) {
.show-container-img {
    display: none;
  }

  .mobile-show-container-img {
    width: 100%;
    display: block;
  }

  #mobile_img_01 {
    width: 80%;
    margin: 3% 10%;
  } 
}
