// Place all the styles related to the refs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ol {
  margin-left: 10%;
  font-size: 1.6em;
  line-height: 1.4em;
  width: 70%;
}

.sources-container ul {
  margin-left: 13%;
  width: 70%;
  font-family: 'Quicksand';
}

.sources-row li {
  font-family: 'Quicksand';
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5em;
}

.sources-row li p {
  font-family: 'Padauk';
  font-size: 1em;
  font-weight: normal;
  margin-left: auto;
  line-height: 1.2em;
}

.biblio-row li {
  font-family: 'Padauk';
}

.link-highlight {
  background: yellow;
}

.source-highlight {
  background: pink;
}